<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello World in AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>


    <script src="app.js"></script>
</head>

<!--<body ng-controller="TodoController">-->

<body>
    

    <ng-view></ng-view>

    <!-- Template -->
    <script type="text/ng-template" id="/todos.html">
        Buscar: <input type="text" ng-model="search.name">
        <ul>
          <li ng-repeat="todo in todos | filter: search">
            <input type="checkbox" ng-model="todo.completed">
            <a href="#/{{$index}}"> {{todo.name}}</a>
          </li>
        </ul>
      </script>

    <script type="text/ng-template" id="/todoDetails.html">
        <h1>{{ todo.name }}</h1>
        completed: <input type="checkbox" ng-model="todo.completed">
        note: <textarea>{{ todo.note }}</textarea>
      </script>
    <!--<input ng-model="name">Hello {{name}}-->
    <!-- <script>
        function TodoController($scope) {
            $scope.todos = [
                { name: 'Master HTML/CSS/Javascript', completed: true },
                { name: 'Learn AngularJS', completed: false },
                { name: 'Build NodeJS backend', completed: false },
                { name: 'Get started with ExpressJS', completed: false },
                { name: 'Setup MongoDB database', completed: false },
                { name: 'Be awesome!', completed: false },
            ]
        }
    </script><script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="app.js"></script>
-->

</body>

</html>